/* You can add global styles to this file, and also import other style files */
@media print {
  .isPrinting > * { display: none; }
  .isPrinting app-print-layout { display: block; }
  @page {
    size: auto;   /* auto is the initial value */
    margin: 0;  /* this affects the margin in the printer settings */
  }
}

