<nav class="navbar navbar-expand-md navbar-dark bg-primary">
    <div class="container">
        <a class="navbar-brand" [routerLink]="['/welcome']">Angular Priting Example</a>

        <div class="dropdown mr-auto" dropdown>
            <a class="dropdown-toggle text-light" dropdownToggle>Features</a>

            <div class="dropdown-menu mt-3" *dropdownMenu>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" [routerLink]="['/cats']">
                    <i class="fa fa-sign-out"></i> Cats
                </a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" [routerLink]="['/dogs']">
                    <i class="fa fa-sign-out"></i> Dogs
                </a>
            </div>


        </div>


    </div>
</nav>